/*--------------------------------------------------------------
10. FunFact
----------------------------------------------------------------*/
.cs_funfact.cs_style_1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 0;
  }

  @media (max-width: 1199px) {
    padding-top: 50px;
  }
  @media (max-width: 767px) {
    height: 150px;
    padding: 10px;
  }
}

.cs_funfact.cs_style_2 {
  margin-bottom: 30px;
  h3 {
    margin-bottom: 20px;
  }
  @media (max-width: 991px) {
    h3 {
      margin-bottom: 0;
    }
  }
}
